/*Default font*/
* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

#landing {
  height: 35vh;
  /*Center*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

img {
  height: 250px;
  width: 250px;
}

.jumbotron{
  background-color: aqua;
}

#gallery{
  /*Center*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  border-radius: 3px; 
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  color: blue;
}
.tools {
  padding: 5px;
  height: 150px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 5px:;
  color: white;
  border-radius: 3px; 
}

html {
  scroll-behavior: smooth;
}